.xlargePaddingSection {
  padding-top: 180px;
  padding-bottom: 180px;
}
.largePaddingSection {
  padding-top: 120px;
  padding-bottom: 120px;
}
.medPaddingSection {
  padding-top: 100px;
  padding-bottom: 100px;
}
.smallPaddingSection {
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-footer p.social-footer a {
  color: #111;
  margin-left: 10px;
  display: inline-block;

  &:hover,
  &:focus {
    color: $darkSlateBlue;
    transition: all 0.3s ease;
  }
}
